$color-primary: #88ddff;
$color-accent:  #ff77ff;
$color-text:    #e6e6e6;
$color-alert:   #ef3939;
$color-inactive:#999999;
$color-selection: #f1bbf1;
$color-bg: #3c373c;
$font: "Courier New", Courier, monospace;
$app-margin: 16px;